<!DOCTYPE html>
<html>
<head>
  <title>Recipe Finder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript" src="javascripts/recipe_finder.js"></script>
</head>
<body>
  <div class="container mt-5">
    <%= yield %>
  </div>
</html>
