<div class="row">
  <div class="col-12 text-center">
    <h2>Find a recipe by typing its name</h2>
  </div>
  <div class="col-12">
    <div id="custom-search-input">
      <div class="input-group">
        <input id="search" type="text" class="form-control" placeholder="Search" />
      </div>
    </div>
  </div>
</div>
<div id="recipes-container" class="list-group"></div>
